*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 400px;
    width:250px;
    background-color: aquamarine;
    border:2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
}
img{
    height:100px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h1{
    text-align: center;
    color:black;
    text-size-adjust: 10px;
}