*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    background-color :aliceblue;
    height: 100vh;
    width:100vw;
    text-decoration: none;
}
h1{
    height: 50px;
    text-align: center;
    background-color: blue;
    color: aliceblue;
    border: 2px solid black;
    transform:scale(1);
}
.intro{
    display:flex;
    flex-direction:row;
  justify-content:space-between;
  align-items: center;
  margin:10px;
  gap:2rem;
  margin:0 auto;
  max-width: 800px;
  padding:20px;
  color:navy;
}
   
.photo:hover{
    transform:skew(2);
}

.name{
    display:flex;
    flex-direction:  column;
   align-items: center;
   font-size: 1.5rem;
}
.name:hover{
    transition: all 2s;
    transform: scale(1.2);
}
.photo{
    box-shadow: 10px 10px 40px rgb(140, 202, 246),-10px -10px 40px rgb(140, 202, 246);
    border-radius: 20px;
}
.photo:hover{
    transform: scale(1.2);
    transition: all 2s;
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
   
    margin:0 auto;
    max-width: 800px;
    border:2px solid black;
    background-color: aqua;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    padding:10px;
    box-shadow: 10px 10px 30px rgb(135, 135, 232);
    color:black;
    font-size: 2rem;
    transition: all 0.5s;

}
@media screen and (max-width:600px){
    .nav{
        display:none;
    }
}
.nav:hover{
    color:darkorange;
    transform: scale(1.2);
   
    transition: all 2s;
}
.box1{
    margin:0 auto;
    max-width: 800px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.box1-1{
    display: flex;
    flex-direction: column;
    margin:20px;
    font-size: 1.2rem;
}

.box1-2{
    display:flex;
    flex-direction: column;
    margin:20px;
    font-size: 1.2rem;

}
.box2{
    margin:0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
}
.box2-1{
    margin:20px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}
.box2-2{
    margin:20px;
    padding:10px;
    font-size: 1.2rem;
}
@media screen and (max-width:400px){
    .container{
        display:flex;
        flex-direction: column;
    }
}
 